@model bikes.models.Tables.BikeFrameTable

@{
    ViewBag.Title = "Add Frame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @Html.Partial("~/Views/Shared/_SideNavPartial.cshtml")
    <div class="col-xs-9">
        <h3>Add Frame</h3>

        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.BikeFrameId)
            <div class="form-group">

                @Html.TextBoxFor(m => m.BikeFrame, new { @class = "form-control", placeholder = "New Frame Name" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.BikeFrame)</span>

            </div>

            <span class="text-danger">@Html.ValidationMessageFor(m => m.BikeFrameId)</span>
            <br />
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
            @Html.ActionLink("Cancel", "MngFrames", "Frame", null, new { @class = "btn btn-sm btn-info" })
        }
    </div>
</div>      