@using bikes.models.Tables
@using bikes.models.VMs
@model bikes.models.VMs.FrameDeleteViewModel

@{
    ViewBag.Title = "DeleteFrame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @Html.Partial("~/Views/Shared/_SideNavPartial.cshtml")
    <div class="col-xs-9">
        <h3>Delete Frame</h3>

        @{
            if (Model.message.IsEmpty())
            {
                using (Html.BeginForm())
                {
                    @Html.HiddenFor(m => m.Frame.BikeFrameId)
                    <p>Are you sure that you wish to delete the frame <b>@Html.DisplayFor(m => m.Frame.BikeFrame)</b>?</p>
                    @*<button type="submit" class="btn btn-sm btn-danger">Delete2</button>*@
                    @Html.ActionLink("Delete3", "DeleteFrame", "Frame", new { FrameToDelete=Model.Frame.BikeFrameId }, new { @class = "btn btn-sm btn-danger" })
                    @Html.ActionLink("Cancel", "MngFrames", "Frame", null, new { @class = "btn btn-sm btn-info" })
                }
            }
            else
            {
                @Model.message<p></p>
                @Html.ActionLink("Return to List", "MngFrames", "Frame", null, new { @class = "btn btn-sm btn-info" })

            }
        }

    </div>
</div>   