@using bikes.models.Tables
@using bikes.models.VMs
@model bikes.models.VMs.FrameDeleteViewModel

@{
    ViewBag.Title = "DeleteFrame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @Html.Partial("~/Views/Shared/_SideNavPartial.cshtml")
    <div class="col-xs-9">
        <h3>Delete Frame</h3>

        @{
            if (Model.message.IsEmpty())
            {
                using (Html.BeginForm())
                {
                    @Html.HiddenFor(m => m.Frame.BikeFrameId)
                    <p>Are you sure that you want to delete the frame <b>@Html.DisplayFor(m => m.Frame.BikeFrame)</b>?</p>
                    @Html.ActionLink("Delete4", "DeleteFrame", "Frame", null, new { @class = "btn btn-sm btn-danger" })

                    <b> </b>

                    @Html.ActionLink("Cancel", "MngFrames", "Frame", null, new { @class = "btn btn-sm btn-info" })
                }
            }
            else
            {
                @Model.message<p></p>
                @Html.ActionLink("Return to List", "MngFrames", "Frame", null, new { @class = "btn btn-sm btn-info" })

            }
        }

    </div>
</div>   