@model bikes.models.VMs.FramesListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Frames</title>
</head>
<body>

    <div class="row">
        @Html.Partial("_SideNavPartial")
        <div class="col-xs-9">


            <table class="table table-striped" style="width: 40%;">
                <h3>Manage Frames</h3>
                
                <tbody>
                    @foreach (var frame in Model.BikeFrames)

                    {
                        <tr>
                            <td>@frame.BikeFrame</td>
                            <td align="right">
                                @Html.ActionLink("Edit", "EditFrame", "Frame", new { frameId = frame.BikeFrameId }, null) |
                                @Html.ActionLink("Delete", "DeleteFrame", "Frame", new { frameId = frame.BikeFrameId }, null)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


            <br />
            @Html.ActionLink("Add Frame", "AddFrame", "SiteAdmin", null, new { @class = "btn btn-primary" })

        </div>
    </div>

</body>
</html>
