@using bikes.models.Tables
@using bikes.models.VMs
@model bikes.models.VMs.MakeDeleteViewModel

@{
    ViewBag.Title = "DeleteMake";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @Html.Partial("~/Views/Shared/_SideNavPartial.cshtml")
    <div class="col-xs-9">
        <h3>Delete Make</h3>

        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.Make.BikeMakeId)
            @Html.DisplayFor(m => m.Make.BikeMakeId)

            if (Model.message.IsEmpty())
            {
                using (Html.BeginForm())
                {
        <p>
            Are you sure that you wish to delete the make
            <b>@Html.DisplayFor(m => m.Make.BikeMakeName)</b> id @Html.DisplayFor(m => m.Make.BikeMakeId)

            ?
        </p>
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    @Html.ActionLink("Cancel", "MngMakes", "Make", null, new { @class = "btn btn-sm btn-info" })
                }
            }
            else
            {
                @Model.message<p></p>
                @Html.ActionLink("Return to List", "MngMakes", "Make", null, new { @class = "btn btn-sm btn-info" })

            }
        }

    </div>
</div>   