<div class="col-xs-3">
    <div class="sidenav">
        <h4>Control Panel</h4>
        <ul>
            <li>@Html.ActionLink("Update Account", "UpdateAccount", "MyAccount")</li>
            <li>Update Bikes</li>
            <li>@Html.ActionLink("Update Makes", "MngMakes", "Make")</li>
            <li>@Html.ActionLink("Update Models", "MngModels", "Model")</li>
            <li>@Html.ActionLink("Update Frames", "MngFrames", "Frame")</li>
            <li>@Html.ActionLink("Update Colors", "MngColors", "Color")</li>

        </ul>
    </div>
</div>
