@using bikes.models.Tables
@using bikes.models.VMs
@model bikes.models.VMs.FrameDeleteViewModel

@{
    ViewBag.Title = "DeleteFrame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @Html.Partial("_SideNavPartial")
    <div class="col-xs-9">
        <h3>Delete Frame</h3>
        @Html.ActionLink("Return to List", "MngFrames", "SiteAdmin")

        @{
            if (Model.message.IsEmpty())
            {
                using (Html.BeginForm())
                {
                    @Html.HiddenFor(m => m.Frame.BikeFrameId)
                    <p>Are you sure that you wish to delete the frame <b>@Html.DisplayFor(m => m.Frame.BikeFrame)</b>?</p>
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    @Html.ActionLink("Cancel", "MngFrames", "SiteAdmin", null, new { @class = "btn btn-sm btn-info" })
                }
            }
            else
            {
                @Model.message
            }
        }

    </div>
</div>   