@model bikes.models.Tables.BikeFrameTable

@{
    ViewBag.Title = "EditFrame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditFrame</h2>


<div class="row">
    <div class="col-xs-12">
        <h3>Edit Frame</h3>
        @Html.ActionLink("Return to List", "Frames", "SiteAdmin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @Html.ValidationSummary()

        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.BikeFrameId)
            <div class="form-group">
                <label>Major</label>
                @Html.TextBoxFor(m => m.BikeFrame, new { @class = "form-control", placeholder = "Frame" })
            </div>

            <span class="text-danger">@Html.ValidationMessageFor(m => m.BikeFrameId)</span>
            <br />
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        }
    </div>
</div>      