@model bikes.models.VMs.FramesListViewModel>
@{
    ViewBag.Title = "MngFrames";

}
<h2>MngFrames</h2>


<div class="row">
    @Html.Partial("_SideNavPartial")
    <div class="col-xs-12">
        <h3>Frames</h3>
        @Html.ActionLink("Add Frame", "AddFrame", "SiteAdmin", null, new { @class = "btn btn-primary" })
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped" style="width: auto;">
            <thead>
                <tr>
                    <th>Frames</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var frameType in Model)
                        <tr>
                            <td>@BikeFrame.FrameId  </ td >
                            <td>
                                @Html.ActionLink("Edit", "EditFrame", "SiteAdmin", new { id = BikeFrame.FrameId }, null) |
                                @Html.ActionLink("Delete", "DeleteFrame", "SiteAdmin", new { id = BikeFrame.FrameId }, null)
                            </td>
                        </tr>
                }
            </tbody>
        </table>
    </div>
</div>