@model bikes.models.VMs.MakeListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Bicycle Make</title>
</head>
<body>

    <div class="row">
        @Html.Partial("~/Views/Shared/_SideNavPartial")
        <div class="col-xs-9">


            <table class="table table-striped" style="width: 40%;">
                <thead>
                    <tr>
                        <th>Make</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var make in Model.BikeMakes)

                    {
                        <tr>
                            <td>@make.BikeFrame</td>
                            <td align="right">
                                @Html.ActionLink("Edit", "EditFrame", "SiteAdmin", new { frameId = frame.BikeFrameId }, null) |
                                @Html.ActionLink("Delete", "DeleteFrame", "SiteAdmin", new { frameId = frame.BikeFrameId }, null)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


            <br />
            @Html.ActionLink("Add Make", "AddMake", "SiteAdmin", null, new { @class = "btn btn-primary" })

        </div>
    </div>

</body>
</html>
