@model IEnumerable<bikes.models.Queries.FeaturedItem>

@{
    ViewBag.Title = "Guild Bikes";
}

<div class="jumbotron">
    <h2>Guild Bikes</h2>
    <p class="lead">An amazing, breathtaking and very MVP jumbotron will go here.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div class="row">
    <div class="col-xs-12">
        <h3>Featured Bikes</h3>

        @foreach (var bike in Model)
        {

            <div class="col-xs-12 col-sm-6 col-md-4">
                
                <a href="@Url.Action("Details","Bikes", new {id=bike.BikeId},null)">
                    <p class="featuredBikes">
                        <img src="@Url.Content("~/Images/" + bike.BikePictName)" height="150" width="150" />
                        <br />@bike.BikeYear @bike.BikeMake @bike.BikeModel 
                        <br />@bike.BikeListPrice
                    </p>
                </a>
            </div>
        }
    </div>
</div>
